In [1]:
#박현석 테스트 문제는 주석으로 표시

#1. 가로 70 높이 144 직각삼각형 빗변의 길이
x = 70
h = 144
import math
print(f'빗변의 길이는 {math.sqrt(x**2 + h**2)}입니다.')

빗변의 길이는 160.11246047700348입니다.

In [2]:
#2. a=55.994 b=-75 a를 1의 자릿수까지 반올림, b의 절대값 둘 중 큰것
a = 55.994
b = -75
if round(a,1) > abs(b):
    print('a 반올림이 더 큼',round(a,1))
else:
    print('b 절대값이 더 큼',abs(b))

b 절대값이 더 큼 75

In [3]:
lorem = '''There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.'''
#3 lorem의 400번째 자리 글자 출력 1부터 센다고 했으니까 
for idx,v in enumerate(lorem,start=1):
    if idx == 400:
        print(v)
#4 lorem의 뒤에서 3번째 부터 뒤에서 99번째 까지의 글자를 출력
print(lorem[-99:-2][::-1])
#5 lorem의 글자 중 27번째 글자를 대문자로 
for idx2,v in enumerate(lorem):
    if idx2 == 26:
        lorem[idx2].upper()
        lorem = lorem[:idx2]+lorem[idx2].upper()+lorem[idx2:]
        print(lorem[idx2])

#6 lorem의 모든 띄어쓰기 제거 lorem2로 저장
lorem2 = ''.join(lorem.split(' '))
print(lorem2)
#7 lorem의 값을 -으로
print('-'.join(lorem.split(' ')))

p
te sdrow citsiretcarahc-non ro ,ruomuh detcejni ,noititeper morf eerf syawla erofereht si muspI m
O
TherearemanyvariationsOofpassagesofLoremIpsumavailable,butthemajorityhavesufferedalterationinsomeform,byinjectedhumour,orrandomisedwordswhichdon'tlookevenslightlybelievable.IfyouaregoingtouseapassageofLoremIpsum,youneedtobesurethereisn'tanythingembarrassinghiddeninthemiddleoftext.AlltheLoremIpsumgeneratorsontheInternettendtorepeatpredefinedchunksasnecessary,makingthisthefirsttruegeneratorontheInternet.Itusesadictionaryofover200Latinwords,combinedwithahandfulofmodelsentencestructures,togenerateLoremIpsumwhichlooksreasonable.ThegeneratedLoremIpsumisthereforealwaysfreefromrepetition,injectedhumour,ornon-characteristicwordsetc.
There-are-many-variations-Oof-passages-of-Lorem-Ipsum-available,-but-the-majority-have-suffered-alteration-in-some-form,-by-injected-humour,-or-randomised-words-which-don't-look-even-slightly-believable.-If-you-are-going-to-use-a-passage-of-Lorem-Ipsum,-you-need-to-be-sure-there-isn't-anything-embarrassing-hidden-in-the-middle-of-text.-All-the-Lorem-Ipsum-generators-on-the-Internet-tend-to-repeat-predefined-chunks-as-necessary,-making-this-the-first-true-generator-on-the-Internet.-It-uses-a-dictionary-of-over-200-Latin-words,-combined-with-a-handful-of-model-sentence-structures,-to-generate-Lorem-Ipsum-which-looks-reasonable.-The-generated-Lorem-Ipsum-is-therefore-always-free-from-repetition,-injected-humour,-or-non-characteristic-words-etc.

In [4]:
#8 100<x<806 범위 안에서 x가 홀수일 때 x의 합
resul = 0
for i in range(101,806):
    if i % 2 != 0:
        resul += i
print(resul) #합

159909

In [5]:
lorem2 = '''Contrary to popular belief, Lorem Ipsum is not simply random text. 
It has roots in a piece of classical Latin literature from 45 BC, 
making it over 2000 years old. Richard McClintock, a Latin 
professor at Hampden-Sydney College in Virginia, looked up one of 
the more obscure Latin words, consectetur, from a Lorem Ipsum 
passage, and going through the cites of the word in classical 
literature, discovered the undoubtable source. Lorem Ipsum 
omes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum 
et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. 
This book is a treatise on the theory of ethics, very popular during 
the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit 
amet..", comes from a line in section 1.10.32.'''

#9 lorem2를 짝수 줄만 출력하라
lorem3 = lorem2.split('\n')
#print(len(lorem3))
for i in range(1,len(lorem3)+1):
    if i % 2 == 0:
        print(lorem3[i-1])

It has roots in a piece of classical Latin literature from 45 BC,
professor at Hampden-Sydney College in Virginia, looked up one of
passage, and going through the cites of the word in classical
omes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum
This book is a treatise on the theory of ethics, very popular during
amet..", comes from a line in section 1.10.32.

In [6]:
pdm = {"통계사업번호" : "2015140319032",
		"사업명" : "캄보디아 노인자조모임 지원 및 연합회 설립을 통한 캄보디아 노인의 빈곤퇴치와 건강증진 (2015-20171,037백만원CPP한국헬프에이지Phase2)",
		"PDM수직단계" : "summary",
		"PDM목차번호" : "0",
		"PDM목차세부번호" : "1",
		"PDM성과지표" : "개요",
		"연차" : "",
		"내용" : "※대표 수혜자 지표(지표명\/측정 성과): 현재 자조모임 회원 가입 수\/ 총 4,279명"}

# 10 pdm에서 통계사업번호 20230116으로 번경해 pdm2로 저장
pdm2 = pdm.copy()
pdm2.update({'통계사업번호':'20230116'})
print(pdm)
print(pdm2) #pdm값 안변하고 업데이트

{'통계사업번호': '2015140319032', '사업명': '캄보디아 노인자조모임 지원 및 연합회 설립을 통한 캄보디아 노인의 빈곤퇴치와 건강증진 (2015-20171,037백만원CPP한국헬프에이지Phase2)', 'PDM수직단계': 'summary', 'PDM목차번호': '0', 'PDM목차세부번호': '1', 'PDM성과지표': '개요', '연차': '', '내용': '※대표 수혜자 지표(지표명\\/측정 성과): 현재 자조모임 회원 가입 수\\/ 총 4,279명'}
{'통계사업번호': '20230116', '사업명': '캄보디아 노인자조모임 지원 및 연합회 설립을 통한 캄보디아 노인의 빈곤퇴치와 건강증진 (2015-20171,037백만원CPP한국헬프에이지Phase2)', 'PDM수직단계': 'summary', 'PDM목차번호': '0', 'PDM목차세부번호': '1', 'PDM성과지표': '개요', '연차': '', '내용': '※대표 수혜자 지표(지표명\\/측정 성과): 현재 자조모임 회원 가입 수\\/ 총 4,279명'}

In [7]:
#11 pdm value 차례대로 출력
for i in pdm.values():
    print(i)

2015140319032
캄보디아 노인자조모임 지원 및 연합회 설립을 통한 캄보디아 노인의 빈곤퇴치와 건강증진 (2015-20171,037백만원CPP한국헬프에이지Phase2)
summary
0
1
개요

※대표 수혜자 지표(지표명\/측정 성과): 현재 자조모임 회원 가입 수\/ 총 4,279명

In [8]:
#12 gene에서 A개수 출력
gene = 'ACAACTATGCATACTATCGGGAACTATCCT'
cnt = 0
for i in gene:
    if i == 'A':
        cnt += 1
print(cnt)
#13 gene에서 ACTAT 패턴 개수 출력
import re
re_gene = re.sub("ACTAT",'Z',gene)
re_cnt = 0
for i in re_gene:
    if i == 'Z':
        re_cnt += 1
print(re_cnt)

10
3

In [9]:
import pandas as pd

read_f = pd.read_csv('./test.csv')
print(read_f.head(5))

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [10]:
#14 test.csv파일 Age에 102 더해서 저장
#NaN 값 0으로 변경
read_f['Age']=read_f['Age'].fillna(0)
read_f['Age'] =read_f['Age'].apply(lambda x : x + 102)
#파일 저장
read_f.to_csv('./test2.csv')
print(read_f)

     PassengerId  Pclass                                          Name  \
0            892       3                              Kelly, Mr. James
1            893       3              Wilkes, Mrs. James (Ellen Needs)
2            894       2                     Myles, Mr. Thomas Francis
3            895       3                              Wirz, Mr. Albert
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)
..           ...     ...                                           ...
413         1305       3                            Spector, Mr. Woolf
414         1306       1                  Oliva y Ocana, Dona. Fermina
415         1307       3                  Saether, Mr. Simon Sivertsen
416         1308       3                           Ware, Mr. Frederick
417         1309       3                      Peter, Master. Michael J

        Sex    Age  SibSp  Parch              Ticket      Fare Cabin Embarked
0      male  136.5      0      0              330911    7.8292   NaN        Q
1    female  149.0      1      0              363272    7.0000   NaN        S
2      male  164.0      0      0              240276    9.6875   NaN        Q
3      male  129.0      0      0              315154    8.6625   NaN        S
4    female  124.0      1      1             3101298   12.2875   NaN        S
..      ...    ...    ...    ...                 ...       ...   ...      ...
413    male  102.0      0      0           A.5. 3236    8.0500   NaN        S
414  female  141.0      0      0            PC 17758  108.9000  C105        C
415    male  140.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416    male  102.0      0      0              359309    8.0500   NaN        S
417    male  102.0      1      1                2668   22.3583   NaN        C

[418 rows x 11 columns]

In [11]:
#15 test.csv파일의 sex를 아래와 같이 분류해서 저장 남 0 여 1
def chk_man(x):
    if x == 'male':
        return 0
    return 1
read_f['Sex'] =read_f['Sex'].apply(lambda x : chk_man(x))
#파일 저장
print(read_f)
read_f.to_csv('./test2.csv')

     PassengerId  Pclass                                          Name  Sex  \
0            892       3                              Kelly, Mr. James    0
1            893       3              Wilkes, Mrs. James (Ellen Needs)    1
2            894       2                     Myles, Mr. Thomas Francis    0
3            895       3                              Wirz, Mr. Albert    0
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)    1
..           ...     ...                                           ...  ...
413         1305       3                            Spector, Mr. Woolf    0
414         1306       1                  Oliva y Ocana, Dona. Fermina    1
415         1307       3                  Saether, Mr. Simon Sivertsen    0
416         1308       3                           Ware, Mr. Frederick    0
417         1309       3                      Peter, Master. Michael J    0

       Age  SibSp  Parch              Ticket      Fare Cabin Embarked
0    136.5      0      0              330911    7.8292   NaN        Q
1    149.0      1      0              363272    7.0000   NaN        S
2    164.0      0      0              240276    9.6875   NaN        Q
3    129.0      0      0              315154    8.6625   NaN        S
4    124.0      1      1             3101298   12.2875   NaN        S
..     ...    ...    ...                 ...       ...   ...      ...
413  102.0      0      0           A.5. 3236    8.0500   NaN        S
414  141.0      0      0            PC 17758  108.9000  C105        C
415  140.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416  102.0      0      0              359309    8.0500   NaN        S
417  102.0      1      1                2668   22.3583   NaN        C

[418 rows x 11 columns]

In [12]:
#16 test.cvs에서 Fare 평균값, 평균 이상인 그룹을 확인할 수 있도록 fare_high column구해라
mean_fare = read_f['Fare'].mean()
def chk_mean(x):
    if x > mean_fare:
        return True
    return False
read_f['fare_high'] = read_f['Fare'].apply(lambda x : chk_mean(x))
print(read_f)

     PassengerId  Pclass                                          Name  Sex  \
0            892       3                              Kelly, Mr. James    0
1            893       3              Wilkes, Mrs. James (Ellen Needs)    1
2            894       2                     Myles, Mr. Thomas Francis    0
3            895       3                              Wirz, Mr. Albert    0
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)    1
..           ...     ...                                           ...  ...
413         1305       3                            Spector, Mr. Woolf    0
414         1306       1                  Oliva y Ocana, Dona. Fermina    1
415         1307       3                  Saether, Mr. Simon Sivertsen    0
416         1308       3                           Ware, Mr. Frederick    0
417         1309       3                      Peter, Master. Michael J    0

       Age  SibSp  Parch              Ticket      Fare Cabin Embarked  \
0    136.5      0      0              330911    7.8292   NaN        Q
1    149.0      1      0              363272    7.0000   NaN        S
2    164.0      0      0              240276    9.6875   NaN        Q
3    129.0      0      0              315154    8.6625   NaN        S
4    124.0      1      1             3101298   12.2875   NaN        S
..     ...    ...    ...                 ...       ...   ...      ...
413  102.0      0      0           A.5. 3236    8.0500   NaN        S
414  141.0      0      0            PC 17758  108.9000  C105        C
415  140.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416  102.0      0      0              359309    8.0500   NaN        S
417  102.0      1      1                2668   22.3583   NaN        C

     fare_high
0        False
1        False
2        False
3        False
4        False
..         ...
413      False
414       True
415      False
416      False
417      False

[418 rows x 12 columns]

In [13]:
#17 Passengerid가 [901, 925, 950, 951, 952, 1026, 1028, 1039, 1040, 1106] 에 있으면 출력
id_list = [901, 925, 950, 951, 952, 1026, 1028, 1039, 1040, 1106]

for i in range(len(read_f.values)):
    if read_f.iloc[i]['PassengerId'] in id_list:
        print(read_f.iloc[i]['Name'])

Davies, Mr. John Samuel
Johnston, Mrs. Andrew G (Elizabeth Lily" Watson)"
Davison, Mr. Thomas Henry
Chaudanson, Miss. Victorine
Dika, Mr. Mirko
Dintcheff, Mr. Valtcho
Zakarian, Mr. Mapriededer
Davies, Mr. Evan
Crafton, Mr. John Bertram
Andersson, Miss. Ida Augusta Margareta

In [14]:
#18 Sibsp가 0인 그룹과 1이상인 그룹 사이에 Fare차이 통계적 확인

def chk_zero(x):
    if x == 0:
        return 0
    return 1
read_f['SibSp'] = read_f['SibSp'].apply(lambda x : chk_zero(x))

grouped_date = read_f.groupby(['SibSp'])
fare_mean = grouped_date['Fare'].agg(['mean'])
print(fare_mean)
#평균을 통해서 Fare에 2배 이상 차이가 존재하는 것을 확인할 수 있다.

            mean
SibSp
0      25.986732
1      55.765032

In [15]:
#19 test.csv에서 숫자(int,float)로 이루어진 column과 문자로 이루어진 column을 구별할 수 있는 함수
def chk_int(x): #구분지어줄 수 있는 함수
    if type(x) == int or type(x) == float:
        return '숫자 데이터'
    else:
        return '문자 데이터'
read_f2 = read_f.copy()
for i in read_f:
    read_f2[i] = read_f[i].apply(lambda x : chk_int(x))
print(read_f2) #구분 지어주는 함수로 적용했을 때를 보여줌

    PassengerId  Pclass    Name     Sex     Age   SibSp   Parch  Ticket  \
0        숫자 데이터  숫자 데이터  문자 데이터  숫자 데이터  숫자 데이터  숫자 데이터  숫자 데이터  문자 데이터
1        숫자 데이터  숫자 데이터  문자 데이터  숫자 데이터  숫자 데이터  숫자 데이터  숫자 데이터  문자 데이터
2        숫자 데이터  숫자 데이터  문자 데이터  숫자 데이터  숫자 데이터  숫자 데이터  숫자 데이터  문자 데이터
3        숫자 데이터  숫자 데이터  문자 데이터  숫자 데이터  숫자 데이터  숫자 데이터  숫자 데이터  문자 데이터
4        숫자 데이터  숫자 데이터  문자 데이터  숫자 데이터  숫자 데이터  숫자 데이터  숫자 데이터  문자 데이터
..          ...     ...     ...     ...     ...     ...     ...     ...
413      숫자 데이터  숫자 데이터  문자 데이터  숫자 데이터  숫자 데이터  숫자 데이터  숫자 데이터  문자 데이터
414      숫자 데이터  숫자 데이터  문자 데이터  숫자 데이터  숫자 데이터  숫자 데이터  숫자 데이터  문자 데이터
415      숫자 데이터  숫자 데이터  문자 데이터  숫자 데이터  숫자 데이터  숫자 데이터  숫자 데이터  문자 데이터
416      숫자 데이터  숫자 데이터  문자 데이터  숫자 데이터  숫자 데이터  숫자 데이터  숫자 데이터  문자 데이터
417      숫자 데이터  숫자 데이터  문자 데이터  숫자 데이터  숫자 데이터  숫자 데이터  숫자 데이터  문자 데이터

       Fare   Cabin Embarked fare_high
0    숫자 데이터  숫자 데이터   문자 데이터    문자 데이터
1    숫자 데이터  숫자 데이터   문자 데이터    문자 데이터
2    숫자 데이터  숫자 데이터   문자 데이터    문자 데이터
3    숫자 데이터  숫자 데이터   문자 데이터    문자 데이터
4    숫자 데이터  숫자 데이터   문자 데이터    문자 데이터
..      ...     ...      ...       ...
413  숫자 데이터  숫자 데이터   문자 데이터    문자 데이터
414  숫자 데이터  문자 데이터   문자 데이터    문자 데이터
415  숫자 데이터  숫자 데이터   문자 데이터    문자 데이터
416  숫자 데이터  숫자 데이터   문자 데이터    문자 데이터
417  숫자 데이터  숫자 데이터   문자 데이터    문자 데이터

[418 rows x 12 columns]

In [16]:
#20
read_f['Age'] = read_f['Age'].apply(lambda x: int(x))

def chk_dou(x):#짝수인지 판별해주는 코드
    if x %2== 0:
        return '짝수'
    return '홀수'
read_f3 = read_f.copy()

read_f3['Age'] = read_f3['Age'].apply(lambda x : chk_dou(x))
print(read_f3) #변환된 값

     PassengerId  Pclass                                          Name  Sex  \
0            892       3                              Kelly, Mr. James    0
1            893       3              Wilkes, Mrs. James (Ellen Needs)    1
2            894       2                     Myles, Mr. Thomas Francis    0
3            895       3                              Wirz, Mr. Albert    0
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)    1
..           ...     ...                                           ...  ...
413         1305       3                            Spector, Mr. Woolf    0
414         1306       1                  Oliva y Ocana, Dona. Fermina    1
415         1307       3                  Saether, Mr. Simon Sivertsen    0
416         1308       3                           Ware, Mr. Frederick    0
417         1309       3                      Peter, Master. Michael J    0

    Age  SibSp  Parch              Ticket      Fare Cabin Embarked  fare_high
0    짝수      0      0              330911    7.8292   NaN        Q      False
1    홀수      1      0              363272    7.0000   NaN        S      False
2    짝수      0      0              240276    9.6875   NaN        Q      False
3    홀수      0      0              315154    8.6625   NaN        S      False
4    짝수      1      1             3101298   12.2875   NaN        S      False
..   ..    ...    ...                 ...       ...   ...      ...        ...
413  짝수      0      0           A.5. 3236    8.0500   NaN        S      False
414  홀수      0      0            PC 17758  108.9000  C105        C       True
415  짝수      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S      False
416  짝수      0      0              359309    8.0500   NaN        S      False
417  짝수      1      1                2668   22.3583   NaN        C      False

[418 rows x 12 columns]